body {
    margin: 0;
    background: black;
    font-family:'Roboto';
    color: white;


}

.hero {
    color:white;
    text-align:center;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    padding: 200px ;
}

.image-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    gap: 10px;
    padding: 10px;

}

.image-bar {
    padding: 200px 300px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;

}

.logo {
    font-size: 20px;
    font-weight: bold;

}



nav ul {
    list-style: none;
    display: flex;
    gap: 15px;

}

nav ul li a {
    color: white;
    text-decoration: none;
}

.hero-text {
    position: relative;
    text-align: center;
    z-index:10;


}

.hero-text .btn {
    margin-top: 20px;
    background: red;
    color: aliceblue;
    padding: 10px 20px;
    text-decoration: none;
}
.hero-img{
    width: 400px;
    margin-left: 200px;
    
}
.title1{
    font-size: 50px;
    font-weight: 200;
}
.title2{
    font-size: 20px;
    font-weight: 200;
}